@tailwind base;
@tailwind components;
@tailwind utilities;


/* Webkit (Chrome, Safari, Edge) */

::-webkit-scrollbar {
  width: 12px;
  transition: width .5s ease-in;
  
}

::-webkit-scrollbar-thumb {
  background-color: #FF7BA9;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}



@font-face {
  font-family: 'Signika Negative';
  src: url('../font/Signika_Negative/SignikaNegative-VariableFont_wght.ttf') format('truetype'); 
  font-weight: 400;
}

body{
  font-family: 'Signika Negative', sans-serif !important;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.arrow{
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}
.card{

  transition: .5s ;
}
.card:hover {
  box-shadow: 10px 10px black;
  transform: translateX(-10px);
}

.card:hover .img {
  transform: rotate(0deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.img{
  transform: rotate(20deg);
  transition: .5s;
}

.timeline svg {
  height: 40px;
  width: 40px;
}
.card svg{
  height: 20px;
  width: 20px;
}

/* HTML:  */
.loader {
  width: 50px;
  aspect-ratio: 1;
  color: #f03355;
  --_c:no-repeat radial-gradient(farthest-side,currentColor 92%,#0000);
  background: 
    var(--_c) 50% 0   /12px 12px,
    var(--_c) 50% 100%/12px 12px,
    var(--_c) 100% 50%/12px 12px,
    var(--_c) 0    50%/12px 12px,
    var(--_c) 50%  50%/12px 12px,
    conic-gradient(from 90deg at 4px 4px,#0000 90deg,currentColor 0)
    -4px -4px/calc(50% + 2px) calc(50% + 2px);
  animation: l8 1s infinite linear;
}
@keyframes l8 {to{transform: rotate(.5turn)}}

/*  */

/*  */
 
.icon-shadow{
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.378);
}
@media (min-width: 1024px) {
  .skill{
    box-shadow: 7px 7px 20px black;
  }
}
